In [1]:
import pandas as pd

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [3]:
df = pd.read_csv("songdata2.csv")
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face And ..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please Touch me gently..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go Why I had to...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [33]:
lyrics_full_df = df[['artist', 'song', 'text']]

In [34]:
lyrics_full_df.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face And ..."
1,ABBA,"Andante, Andante","Take it easy with me, please Touch me gently..."
2,ABBA,As Good As New,I'll never know why I had to go Why I had to...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [35]:
compound_list = []
positive_list = []
negative_list = []
neutral_list = []

for lyric in lyrics_full_df["text"]:
    
    sentiment_analysis = analyzer.polarity_scores(str(lyric))

    #print(sentiment_analysis)
    compound_list.append(sentiment_analysis["compound"])
    positive_list.append(sentiment_analysis["pos"])
    negative_list.append(sentiment_analysis["neg"])
    neutral_list.append(sentiment_analysis["neu"])

    #add the sentiment analysis columns into the dataframe
lyrics_full_df["compound"] = compound_list
lyrics_full_df["positive"] = positive_list
lyrics_full_df["negative"] = negative_list
lyrics_full_df["neutral"] = neutral_list

In [36]:
lyrics_full_df.head()

,artist,song,text,compound,positive,negative,neutral
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face And ...",0.9587,0.125,0.000,0.875
1,ABBA,"Andante, Andante","Take it easy with me, please Touch me gently...",0.9877,0.150,0.000,0.850
2,ABBA,As Good As New,I'll never know why I had to go Why I had to...,0.9984,0.298,0.029,0.672
3,ABBA,Bang,Making somebody happy is a question of give an...,0.9971,0.327,0.025,0.647
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...,0.9974,0.346,0.025,0.629

In [37]:
lyrics_analysis_df = lyrics_full_df.to_csv("lyrics_full_tracks_sentiments.csv", encoding="utf-8", index=False)

In [38]:
lyrics_full_df.head()

,artist,song,text,compound,positive,negative,neutral
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face And ...",0.9587,0.125,0.000,0.875
1,ABBA,"Andante, Andante","Take it easy with me, please Touch me gently...",0.9877,0.150,0.000,0.850
2,ABBA,As Good As New,I'll never know why I had to go Why I had to...,0.9984,0.298,0.029,0.672
3,ABBA,Bang,Making somebody happy is a question of give an...,0.9971,0.327,0.025,0.647
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...,0.9974,0.346,0.025,0.629

In [42]:
lyrics_full_grouped = lyrics_full_df.groupby(['artist', 'song'])
lyrics_full_grouped.count().head()

                                          text  compound  positive  negative  \
artist  song
'n Sync Against The Wall                     1         1         1         1
        All I Want Is You This Christmas     1         1         1         1
        Are You Gonna Be There               1         1         1         1
        Beegee's Medley                      1         1         1         1
        Believe In Yourself                  1         1         1         1

                                          neutral
artist  song
'n Sync Against The Wall                        1
        All I Want Is You This Christmas        1
        Are You Gonna Be There                  1
        Beegee's Medley                         1
        Believe In Yourself                     1

In [44]:
lyrics_full_avg_df = pd.DataFrame(lyrics_full_grouped["text","compound",
                                           "positive", "negative", "neutral"].mean())
lyrics_full_avg_df.head()

                                          compound  positive  negative  \
artist  song
'n Sync Against The Wall                    0.8809     0.080     0.035
        All I Want Is You This Christmas    0.9972     0.261     0.014
        Are You Gonna Be There              0.9709     0.113     0.051
        Beegee's Medley                     0.9961     0.295     0.062
        Believe In Yourself                -0.8138     0.028     0.078

                                          neutral
artist  song
'n Sync Against The Wall                    0.885
        All I Want Is You This Christmas    0.724
        Are You Gonna Be There              0.836
        Beegee's Medley                     0.643
        Believe In Yourself                 0.894

In [45]:
lyrics_analysis_df2 = lyrics_full_avg_df.to_csv("lyrics_tracks_avg_sentiments.csv", encoding="utf-8")

In [47]:
lyrics_full_grouped = lyrics_full_df.groupby(['artist'])
lyrics_full_grouped.count().head()

              song  text  compound  positive  negative  neutral
artist
'n Sync         93    93        93        93        93       93
ABBA           113   113       113       113       113      113
Ace Of Base     74    74        74        74        74       74
Adam Sandler    70    70        70        70        70       70
Adele           54    54        54        54        54       54

In [50]:
artist_full_avg_df = pd.DataFrame(lyrics_full_grouped["text","compound",
                                           "positive", "negative", "neutral"].mean())
artist_full_avg_df.head()

              compound  positive  negative   neutral
artist
'n Sync       0.581889  0.159054  0.063409  0.777538
ABBA          0.506793  0.171779  0.077991  0.750168
Ace Of Base   0.621047  0.154243  0.067932  0.777784
Adam Sandler  0.215686  0.129543  0.097514  0.773086
Adele         0.335378  0.135037  0.088333  0.776611

In [51]:
artist_analysis_df2 = artist_full_avg_df.to_csv("artist_full_sentiments.csv", encoding="utf-8")